
@model BugTracker.Models.Bugs


    @{
        ViewData["Title"] = "Details";
    }


    <h1 class="text-white">Details</h1>
    <style>
        .col-sm-2, .col-sm-10 {
            color: white;
        }
    </style>
            <div>
                <h4 class="text-white">Bugs</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        Project
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Projects)
                    </dd>
                    <dt class="col-sm-2">
                        Ticket
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Tickets)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Priority)
                    </dt>


                    
                    <dd class="btn text-white @(Model.Priority == "Immediate" ? "red" :
                     Model.Priority == "Urgent" ? "chocolate" :
                     Model.Priority == "Medium" ? "gold" :
                     Model.Priority == "Low" ? "yellow" :
                     Model.Priority == "Very low" ? "olive" :
                     Model.Priority == "Closed" ? "green" : "")">
                        @Html.DisplayFor(model => model.Priority)
                    </dd>
                    <dt class="col-sm-10">
                        Created/Edited
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Creator)
                        @Html.DisplayFor(model => model.TimeCreated)
                    </dd>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EditedBy)
                        @Html.DisplayFor(model => model.EditDate)
                    </dd>
                    <dt class="col-sm-10">
                        Due Date
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DueDate)
                    </dd>
                    @if (Model.Priority == "Closed")
                    {
                        <dt class="col-sm-10">
                            Closed
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ClosedDate)
                        </dd>

                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ClosedBy)
                        </dd>
                        <dt class="col-sm-10">
                            Resolved Issue
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Resolved)
                        </dd>
                    }

                </dl>
            </div>

            <div class="form-group btn-group">
                <a asp-action="Index" class="btn btn-primary">
                    <i class="fas fa-long-arrow-alt-left"></i> <!--BackToList-->
                </a>
                <a asp-controller="Bugs" asp-route-id="@Model.Id" asp-action="Edit" class="btn btn-primary">
                    <i class="fas fa-edit"></i>
                </a>
                <a asp-controller="Bugs" asp-route-Id="@Model.Id" asp-action="Delete" class="btn btn-danger">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
    
